**/.classpath
**/.project
**/.settings
**/.springBeans
**/target
spring-shell.log
**/.vscode
**/.DS_Store
**/node_modules/
/node_modules/
**/src/main/resources/static/static
**/src/main/resources/static/static/*
**/src/main/resources/static/static*
/src/main/resources/static/static/
/build/
**/src/main/resources/static/asset-manifest.json
**/src/main/resources/static/bootstrap.min.css
**/src/main/resources/static/favicon.ico
**/src/main/resources/static/index.html
**/src/main/resources/static/jquery.min.js
**/src/main/resources/static/main.js
**/src/main/resources/static/manifest.json
**/src/main/resources/static/service-worker.js
